<a href="https://colab.research.google.com/github/FranGarcia9/Tareas-Mod-1-Data-Science/blob/main/Copia_de_Los_operadores_l%C3%B3gicos_challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Los operadores lógicos

Recordemos los operadores de comparación

![img1](https://facialix.com/images/cond.png)

y veamos algunos ejemplos de los operadores logicos en acción

![img2](https://facialix.com/images/logicos.png)

**En este ejercicio debes mostrar el valor que se obtiene de las sentencias al ejecutarlas en codigo y explicarlas:**

1) **not true**

In [ ]:
not True

False

Escribe el explicacion aquí 

🖍 ... Empleado en la condición de un resultado True para obtener False o viceversa al correr la sentencia

2) **not (1+2 != 3)**

In [ ]:
#Escribe el codigo aquí
not (1+2 != 3)

True

Escribe el explicacion aquí 

🖍 Al emplear operadores relaciones y aritméticos dentro de los paréntesis, se obtiene un resultado booleano "False", pero al estar el operador "Not" antes generea una salida de "True" del resultado final

3) **x = (len("jugar") > 5) and (len("jugar") < 10)**

In [ ]:
#Escribe el codigo aquí
x = (len("jugar") > 5) and (len("jugar") < 10)
print (x)

False

Escribe el explicacion aquí 

🖍 En esta sentencia se está empleado un operador de asignación (=) almacenado en "x". La variable "x" contiene un operador lógico (and) que permite comprobar si dos elementos son "True", en caso que alguno sea "False" se obtendrá como valor booleano "False" al no cumplirse la sentencia. 
Los dos elementos utilizados para el operador "and" tienen la misma función y un operador similar: una función "len" que permite obtener el número de elementos señalados (en este caso del string "juguetes") y un operador relacional ">" o "<" los cual devuelve un resultado boleando si el valor de la izquierda es mayor que el de la derecha o viceversa respectivamente.

4) **"alto"[2] == "t" and x**

In [ ]:
#Escribe el codigo aquí
"alto"[2] == "t" and x

False

Escribe el explicacion aquí 

🖍 ... Se obtiene "False" al emplear el operador relacional "==", el cual devolvería "True" si la relación de los elementos fuera igual.

5) **842913%10 != 3 and len("café") == 3**

In [ ]:
#Escribe el codigo aquí

842913%10 != 3 and len("café") == 3

False

Escribe el explicacion aquí 

🖍 ...El resultado obtenido es "False" débido a que se emplea el operador lógico "and" y ambos de sus elementos no son "True", en este caso ambos dan "False".

En el primer elemento se utiliza un operador relacional "!=" el cual arroga como resultado "True" si ambos elementos no son iguales, en este caso "3" sí es igual al módulo de 842913%10.
En el segundo elemento se usa la función "len" la cual mide la longitud del string "café" y el operador relacional "==" con el valor "3", lo cual da como resultado "False".

6) **0!=0 or "a" < "y"**

In [ ]:
#Escribe el codigo aquí

0!=0 or "a" < "y"

True

Escribe el explicacion aquí 

🖍 ...El resultado en esta sentecia es "True" porque se utiliza el operador lógico "or" el cual da ese resultado cuando uno de los dos elementos tiene el valor boleando "True"
En el primer elemento se utiliza el operador de asignación "!=" en los valores "0" y "0" dando como resultado "False" ya que ambos valores son iguales.

En el segundo elemento también se utiliza un operador relacional "<" con los elemenos "a" y "y" dando como resultado "True", cumpliendo la condición del operador "or".

7) **True or int("50") >= 50**

In [ ]:
#Escribe el codigo aquí

True or int("50") >= 50

True

Escribe el explicacion aquí 

🖍 ... En esta sentecia el primer elemento se presenta como "True", lo cual ya se cumple la condición de "or" para dar como resultado "True".

En el segundo elemento se prenta primero "int("50")" lo cual signífica  que se está conviertiendo de tipo string "50" a un valor numérico. Al momento en que se agregan comillas a valores numéricos pasan a ser considerados string, para este caso se requiere ambos valores numéricos ya que se emplea un operador relacional ">=" con el otro elemento 50 dando como resultado "True".

8) **edad = 20**

**not(x) or edad%2==0**

In [ ]:
#Escribe el codigo aquí
edad = 20
not(x) or edad%2==0

True

Escribe el explicacion aquí 

🖍 ...Se cumple la condición de un valor "True" para el operador lógico "or", en este caso ambos elementos dan como resultado el valor booleano "True"

9) **es_cliente = False**

**not (es_cliente and not(edad < 18))**

In [ ]:
es_cliente = False
es_cliente and not(edad < 18)

False

In [ ]:
#Escribe el codigo aquí
es_cliente = False
not (es_cliente and not(edad < 18))

True

Escribe el explicacion aquí 

🖍 ...La variable "es_cliente" es guardado bajo el valor "False"y en el segundo elemento donde se utiliza un operador relacional "<" con la variable edad (registrada en el ejercicio anterior con valor 20) y el valor númerico 18 da como resultado "False", pero hay un "not" antes, lo cual cambia el valor a "True"
Al estar bajo el operador lógico "and" se requieren ambos elementos como valor booleano "True" para dar como resultado "True2 al final, en este caso no se cumple la condición y debería sar como resultado "False", pero al emplear "not" al inicio devuelve "True" en los valores que dan resultado "False".

###Recursos extra para estudiar y ejercios

- Video corto de Coursera: [Tablas de verdad y álgebra booleana](https://www.coursera.org/lecture/programacion-python/tablas-de-verdad-y-algebra-booleana-JJs0E)
- Articulo corto de [Tablas de la verdad](https://www.ecured.cu/Tablas_de_la_verdad)
- Ejercicios practicos en portal de [Tablas de Verdad](https://www.edu.xunta.gal/espazoAbalar/sites/espazoAbalar/files/datos/1493724904/contido/tablas_de_verdad.html)
- Guía de [Ejercicios de Lógica](https://www.fing.edu.uy/tecnoinf/mvd/cursos/mdl1/material/pra/buceo_noct/mdl1-pr-logica.pdf)